<h1 class="text-center home-title">Bibliothèque du diocèse de Soissons</h1>
<div class="home-bg">
  <div class="home-content">
    <%= link_to "les oeuvres", books_path %>
  </div>
</div>
<p class="text-center home-subtitle">Catherine Liebard, responsable de service, vous accueille à la centrale de 09h à 17h</p>
