<%= link_to "home", root_path %> | <%= link_to "Ajouter une oeuvre", new_book_path %>
<h1>Les oeuvres</h1>

<ul>
  <% @books.each do |book| %>
    <li>
      <%= book.title %>
      <%= book.isbn %>
    </li>
  <% end %>
</ul>
